[D-BUS Service]
Name=fi.w1.wpa_supplicant1
Exec=/usr/sbin/wpa_supplicant -u -i wlan0 -c /data/misc/wifi/wpa_supplicant.conf
User=root
SystemdService=wlan_daemon.service
